
h1, h2, h3, h4, h5, h6 {
	
	font-family: 'Source Serif Pro', serif;
} 
p {
	
	font-family: helvetica,sans-serif;
}

 /* unvisited link */
a:link {
    color: #0028d4;
}

/* visited link */
a:visited {
    color: #3a116d;
}

/* mouse over link */
a:hover {
    color: #cc3b02;
}

/* selected link */
a:active {
    color: blue;
} 

mark {
	background-color:yellow;
}

nav {
	
	font-family: helvetica,sans-serif;
	padding: 1em;
}
body {

    background-color: #eaeaea;
	
	margin-top: 0px;

}
#container {

	margin: 0px 15em;
	padding: .5em;
    background-color: #fff;
	border: 2px solid black;

}
header {
	
	height: 15em;
	background-color: #d7d2c6;
	margin-top: 0px;
	padding: 1em;
	background-image: url("/images/moai-banner.jpg");
	background-size: cover;
	background-position: center;
}
#header {
	
	display: inline-block;
	font: inherit;
	font-size: inherit;
	line-height: inherit;
	color: white;
	font-size: 1.62em;
	margin-top: 6.2em;
	line-height: 2em;
	text-shadow: -2px 2px 4px #000;
}
main {
	
	background-color: #dbdfef;
	padding: .1em 1em;

}


